picture {
    display: block;
    width: 100%;
    background-color: var(--secondary-background);
    border-bottom: #D9D9D9;
    padding: 10px;
    border-radius: 4px;
}

#logo {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.options_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#title_menu-sidebar {
    color: #5C5E64;
    font-size: 0.6rem;
    font-weight: 500;
    margin-top: 5px;
    align-self: flex-start;
    padding-left: 10px;
}

.options_container li {
    width: 100%;
    border-radius: 4px;
}

.options_container li:hover {
    background-color: var(--secondary-background);
}

.options_container li a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 4px;
}

.options_container li a p {
    color: #5C5E64;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -0.28px;
}

.options_container li img {
    width: 15px;
    height: 15px;
}


.bottom_container_sidebar {
    background-color: var(--secondary-background);
    border-bottom: #D9D9D9;
}